* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  background: url("https://media.istockphoto.com/id/831597438/vector/money-pattern-with-many-dollar-currency-signs.jpg?s=612x612&w=0&k=20&c=nsPThiS6xBPsFypSW46G60qLdvdWnDnLq_nQD58hXvE=");
}

.calculator {
  background-color: rgb(81, 194, 81);
  outline: 4px solid black;
  width: 27rem;
  height: 42.5rem;
  margin: 0 auto;
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  border-radius: 70px;
  position: relative;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px; 
}

.model {
  color: black;
  font-weight: bold;
  text-align: center;
  margin-left: 25px;
  padding: 0.6rem 0.1rem;
}

.solar {
  background-color: #26201D;
  background: repeating-linear-gradient(
    to left,
    #111,
    #111 2px,
    #28221e 2px,
    #28221e 35px
  );
  border-radius: 10px;
  padding: 1rem 6rem;
  margin: 0rem 1.65rem;
  border: 3px solid black;
}

.result {
  color: black;
  background-color: #658f6f;
  font-size: 1.75rem;
  margin-top: 3px;
  height: 4rem;
  width: 93%;
  border-radius: 3px;
  margin-left: 10px;
  margin-bottom: 17px;
  border: 4px solid black;
  border-radius: 20px;
  padding: 1rem 1rem 1.4rem 1rem;
  overflow: hidden;
}

#clear {
  background-color: red;
  color: yellow
}

#clear:hover {
  border: 4px solid black;
  background-color: yellow;
  color: red;
  cursor: pointer;
  transition: all 0.2s;
}

.keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5px;
  font-size: 1.6rem;
}

.keys li {
  list-style: none;
  width: 5rem;
  height: 4rem;
  background-color: white;
  margin: 0.5rem 0.5rem;
  padding: 1rem;
  border: 4px solid black;
  border-radius: 50px;
  color: green;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s;
  font-weight: bold;

}

.keys li:hover {
  background-color: yellow;
  color: green;
}

.keys .equals {
  background-color: green;
  color: yellow;
}